body {
    margin: 0;
    padding: 0;
    background-image: url('../static/images/background.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    height: 100vh; /* Added to ensure the background covers the entire viewport height */
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px; /* Added max-width to limit container width */
    width: 80%; /* Adjust width as needed */
}

.container h1 {
    text-align: center;
}

.container form {
    width: 100%; /* Adjust form width as needed */
    text-align: left; /* Align form elements to the left */
}

.container form label {
    display: block;
    margin-bottom: 5px;
}

.container form input[type="text"],
.container form input[type="password"] {
    width: calc(100% - 20px); /* Adjust input width as needed */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid ;
    border-radius: 5px;
}

.container form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.container form input[type="submit"]:hover {
    background-color: #0056b3;
}

.container p {
    text-align: center;
}

.container p a {
    color: #007bff;
    text-decoration: none;
}

.container p a:hover {
    text-decoration: underline;
}
