<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" type="text/css" href="/static/meeout.css"> <!-- Link to your CSS file -->
    <style>
        /* CSS styling for the logout button */
        .logout-button {
            padding: 10px 20px; /* Adjust padding as needed */
            font-size: 16px;
            width:100px; /* Adjust font size as needed */
            margin-right: 300px;
        }
    </style>
</head>
<body>
    <form action="/logout" method="post">
        <button class="logout-button" type="submit">Logout</button>
    </form>
    <h1>Row deleted successfully!</h1>
</body>
</html>
