<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitors Based on Purpose</title>
    <link rel="stylesheet" type="text/css" href="/static/viewt.css">
</head>
<body>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
    <div class="container">
        <h1>Visitors Based on Purpose</h1>
        <table>
            <thead>
                <tr>
                    <th>Purpose</th>
                    <th>Visitor Count</th>
                </tr>
            </thead>
            <tbody>
                {% for purpose, count in purpose_details %}
                <tr>
                    <td>{{ purpose }}</td>
                    <td>{{ count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
