<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/viewt.css">
    <title>View Details</title>
</head>
<body>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
    <div class="container">
        <h1>View Details for Table: {{ table_name }}</h1>

        {% if records %}
            <table border="1">
                <tr>
                    {% for column in columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
                {% for record in records %}
                    <tr>
                        {% for field in record %}
                            <td>{{ field }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No records found.</p>
        {% endif %}
        
    </div>
</body>
</html>
